<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CN</key>
		<string>中国</string>
	</dict>
	<dict>
		<key>US</key>
		<string>美国</string>
	</dict>
	<dict>
		<key>CA</key>
		<string>加拿大</string>
	</dict>
	<dict>
		<key>PH</key>
		<string>菲律宾</string>
	</dict>
	<dict>
		<key>JP</key>
		<string>日本</string>
	</dict>
	<dict>
		<key>KR</key>
		<string>韩国</string>
	</dict>
	<dict>
		<key>SG</key>
		<string>新加坡</string>
	</dict>
</array>
</plist>
